<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CheckIntervalSeconds" value="10"/>
    <add key="Domain" value="vpn.mojes.it"/>
    <add key="ZerigoWhatsMyIpUri" value="http://checkip4.zerigo.com/"/>
    <add key="ZerigoUserName" value="l.holota@outlook.com"/>
    <add key="ZerigoApiKey" value="d82bf33b8056395ad46cfa3bd3e9d96c"/>
    <add key="ZerigoUpdateUriFormat" value="http://update.zerigo.com/dynamic?host=$DOMAIN$&amp;ip=$IP$&amp;user=$USERNAME$&amp;password=$APIKEY$"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>