<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <configSections>
    <section name="zerigoDynDns" type="LH.ZerigoDynDns.Service.Configuration.ZerigoConfigurationSection, LH.ZerigoDynDns.Service"/>
  </configSections>
  <appSettings>
    <!--
    - IPv6 support
    - Refine the logging (level should be configurable!)
    - Distribute the readme file displayed as github homepage with the application
    - Mention the used libraries in the readme
    -->
    <add key="ZerigoWhatsMyIpUri" value="http://checkip4.zerigo.com/"/>
    <add key="ZerigoUpdateUriFormat" value="http://update.zerigo.com/dynamic?host=$DOMAIN$&amp;ip=$IP$&amp;user=$USERNAME$&amp;password=$APIKEY$"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <zerigoDynDns checkIntervalSeconds="10"
                xmlns="http://tempuri.org/ZerigoConfigurationSection/"
                xsi:noNamespaceSchemaLocation="Configuration/ZerigConfigurationSection.xsd">
    <credentials userName="l.holota@outlook.com" apiKey="d82bf33b8056395ad46cfa3bd3e9d96c" />
    <domains>
      <domain name="vpn.mojes.it" />
      <domain name="test.mojes.it" />
    </domains>
  </zerigoDynDns>
</configuration>