<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="zerigoDynDns" type="LH.ZerigoDynDns.Service.Configuration.ZerigoDynDnsSection, LH.ZerigoDynDns.Service"/>
  </configSections>
  <appSettings>
    <add key="ZerigoWhatsMyIpUri" value="http://checkip4.zerigo.com/"/>
    <add key="ZerigoUpdateUriFormat" value="http://update.zerigo.com/dynamic?host=$DOMAIN$&amp;ip=$IP$&amp;user=$USERNAME$&amp;password="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <zerigoDynDns checkIntervalInSeconds="1800">
    <!--
    The API Key can be generated in the DNS 
      -> Preferences 
        -> API Keys when you log into your account on www.zerigo.com
    -->
    <credentials userName="" apiKey="" />
    <domains>
      <domain name="www.mydomain.com" />
    </domains>
  </zerigoDynDns>
  
  <!-- Uncomment the following section to use a proxy server -->  
  <!--
  <system.net>
    <defaultProxy>
      <proxy autoDetect="False" 
             bypassonlocal="True"
             proxyaddress="http://localhost:8888"/>
    </defaultProxy>
  </system.net>
  -->
</configuration>